<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">


    <select id="selectPage" resultType="com.example.pojo.Emp">
    select e.*, d.name deptName
    from emp as e
    left join dept as d on e.dept_id = d.id
    <where>
        <!-- 名字模糊查询（允许空值） -->
        <if test="name != null and name != ''">
            e.name like concat('%', #{name}, '%')
        </if>

        <!-- 性别精确匹配（允许空值） -->
        <if test="gender != null">
            and e.gender = #{gender}
        </if>

        <!-- 日期范围查询（需同时存在起止时间） -->
        <if test="begin != null and end != null">
            and e.entry_date between #{begin} and #{end}
        </if>
    </where>
</select>

    <insert id="insert">
        insert into emp (id, username, password, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time)
        values (null, #{username}, #{password}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image}, #{entryDate},
                #{deptId}, #{createTime}, #{updateTime})

    </insert>
</mapper>